body{
    background-image: url("image/anime.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .image{
    width: 20%;
    margin: 240px;
    border-radius: 20px;
    float: left;
    position: relative;
    margin-top: 180px;
  }
  
  .sidebar{
    display: flexbox;
    position: relative;
    background-color: #f5f5f5;
    margin-top: 60px;
    width: 500px;
    height: 600px;
    float: left;
    border: 2px solid #f5f5f5;
    border-radius: 10px;
  }
  
  
  
   
  .sidebar h3{
    margin-left: 100px;
    font-size: 16px;
    text-align: center;
    width: 280px;
    margin-top: 50px;
    
  }
  
  
  .form {
    margin: 20px;
  }
  
  .form input[type="text"],
  select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .form input[type="email"],
  select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 55px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .container{
    width: 30%;
    position: absolute;
    margin-top: 40px;
    left: 40px;
    font-size: 15px;
  
  }

  .gender  {
    display: flex;
    margin-top: 50px;  
    margin-left: 180px;
    width: 50%;
    font-size: 20px;
    letter-spacing: 1.5px;
    
  }

  .gender label{
    display: flex;
    font-size: 13px;
  }

  

  .checbox{
    display: flexbox;
    margin-top: 30px;  
    margin-left: 170px;
    width: 60%;
    font-size: 17px;
    letter-spacing: 1.5px;
  }

  .checcontainer{
    width: 30%;
    position: absolute;
    margin-top: 20px;
    left: 34px;
    font-size: 16px;
  }

  .diskon{
    width: 80%;
    position: absolute;
    padding: 12px 8px;
    margin-top: 20px;
    left: 34px;
    font-size: 16px;
  }

  .diskon input{
    margin-left: 20px;
  }
  
  
  .submit {
    background-color: #4caf50;
    color: white;
    position: absolute;
    padding: 14px 110px;
    margin: 160px 130px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .submit:hover {
    background-color: #45a049;
  }
  
  
  
  
  
  
  
  